#card{
    min-height: 20vh;
    max-height: fit-content;
    background-color:  #d7c9a9;
    overflow-y:visible;
    color: #000000;
    border: 2px solid rgba(68, 68, 68, 0.652);
    border-radius: 25px;
    text-align: center;
}
#card p{
    color: rgb(85, 85, 85);
}
#btn{
    border: 1px solid black;
    background-color: #fffadc;
}

#btn:hover{
    background-color: rgb(119, 123, 17);
    color: white;
}
